#sidebarA{
    color: white;
}

#filterResults{
    font-size: 12px;
    color: white;
    background-color: #448EE4;

}

.theme{
    background-color: #2A395F;
}

.select{
    font-style: italic;
    opacity: .7;
}

.mapboxgl-ctrl-geocoder--input {
    padding: 6px 30px;
    margin-left: 5px;
}

.listings .item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    word-wrap: break-word;
    text-decoration: none;
    border-bottom: solid rgb(34, 33, 33, .3) 1px;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: inline-block;
    width: 100%;
    color: #2A395F;
    font-weight: 800;
    margin-top: 5px;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #2A395F;
}


.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.mapboxgl-popup-content {
    font: 400 15px/22px "Open Sans", sans-serif;
    text-align: center;
    padding: 5;
    width: 180px;
  }

.mapboxgl-popup-close-button {
    display: none;
  }

.mapboxgl-popup-content h3 {
    color:black;
    font-weight: 500;
    margin: 0;
    display: block;

  }

.popupname{
    font-family: "Open Sans", sans-serif;
    color:black;
    font-weight: 500;
    margin: 0;
    display: block;
    text-decoration: underline;
}
.popupdesc{
    font-family: "Open Sans", sans-serif;
    color:black;
    font-weight: 500;
    margin: 0;
    display: block;
}
/* box on the right */
.filter-group {
    font: 12px/20px "Open Sans", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 135px;
    color: rgb(85, 77, 77);
    }
     
    .filter-group input[type='checkbox']:first-child + label {
    border-radius: 3px 3px 0 0;
    }
     
    .filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
    }
     
    .filter-group input[type='checkbox'] {
    display: none;
    }
     
    .filter-group input[type='checkbox'] + label {
    background-color: #ffffff;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
     
    .filter-group input[type='checkbox'] + label {
    background-color: #ffffff;
    text-transform: capitalize;
    }
     
    .filter-group input[type='checkbox'] + label:hover,
    .filter-group input[type='checkbox']:checked + label {
    background-color: #ffffff;
    }
     
    .filter-group input[type='checkbox']:checked + label:before {
    content: '✔';
    margin-right: 5px;
    }

    .nn{
        width: 100%;
        background-color:#2A395F;
        top: 0;
        left: 0;
        padding: 1% 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 5rem;
    }
    .nn ul li{
        list-style: none;
        display: inline-block;
        margin-left: 2.5rem;
    }
    .nn ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
    }
    .nn ul li::after {
        content: '' ;
        width: 0%;
        height: 2px;
        background-color: #fff;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nn ul li:hover:after{
        width: 100%;
    }    